* {
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

html {
  font-family: "Roboto", open-sans;
}

body {
  margin: 0;
  background: #505050;
}

header {
  background: black;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

#results,
#calculator {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  background-color: #1c1c1c;
}

#results {
  text-align: center;
}

#calculator input {
  font: inherit;
  font-size: 3rem;
  border: 2px solid white;
  width: 10rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  background: #ff9500;
  color: white;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}

#calculator button:focus {
  outline: none;
}

#calculator button:hover,
#calculator button:active {
  background: black;
  border-color: black;
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}
